.comments-container-full{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    
}

#comments-form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #1B2F11;
    height: 350px;
    margin-bottom: 100px;
    color: white;
}

.comments-button-container{
    display: flex;
    width: 600px;
    justify-content: space-between;
    margin-bottom: 40px;
    align-items: center;
}

.comments-button-container>button {
    width: 240px;
    height: 40px;
    background: var(--yellow-bg);
    border-radius: 49px;
    color: black;
}

input {
    width: 240px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    
}
#comments-logo {
    scale: 0.5;
    justify-self: flex-end;
}

/*Small devices - Phones*/
@media (max-width: 575.98px){
    #comments-title{
        padding: 20px 20px 0px 20px;
        text-align: center;
        margin-bottom: 0px;
    }
    #comments-subtitle {
        padding: 0px 20px 20px 20px;
    }
    .comments-button-container
    {
        flex-direction: column;
    }
    .comments-container-full{
        
        height: auto;
        overflow: hidden;
      
    }

    #comments-subsubtitle {
        padding: 0px 20px 0px 20px;
    }
    #comments-form-container{
        height: auto;
        padding: 30px 0px 30px 0px;
    }

    #comments-text{
        padding: 0px 20px 0px 20px;
        text-align: center;
    }
    .comments-input {
        margin-bottom: 20px;
    }
    #comments-form-container {
        margin-bottom: 20px;
    }
}

/*medium devices - Tablets*/
@media (max-width: 767.98px) {

}

/*Large devices - Desktop*/
@media (max-width: 1365.98px) {

}