@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

/* Configuración global del body y tamano de fuentes */
/* Definicion de variables de entorno */


body {
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

h1 {
    font-size: 64px;
}
h2 {
    font-size: 32px;
    
}
p{
    font-size: 24px;
}


@media (max-width: 575.98px) {
    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 20px;
        
    }
    p{
        font-size: 14px;
    }

    body {
        max-width: inherit !important;
    }
}

/*medium devices - Tablets*/
@media (max-width: 767.98px) {

}

/*Large devices - Desktop*/
@media (max-width: 1365.98px) {
    p {
        font-size: 20px;
    }
}