#guia-full-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--yell);
    
    }
    .guia-container {
        display: flex;
        
        padding-right: 100px;
        height: 700px;
    }
    
    #guia-img {
        background-image: url('@imgs/Guia-desktop.png');
        width: 55%;
        background-repeat:no-repeat;
        background-size: cover;
    }
    #guia-container-text{
        width: 40%; 
        padding-right: 200px;
        padding-left: 160px;
        padding-top: 20px;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    
    #guia-container-empth {
        padding: 30px 0px;

        width: 1024px;
        display: flex;
        flex-direction: column;
        text-align: center;
        
       
    }
    
    #guia-empth-text {
        padding: 0px 60px 0px 60px;
    }


/*Small devices - Phones*/
@media (max-width: 575.98px) {
    .guia-container {
        display: flex;
        flex-direction: column;
        padding: 0px;
        height: auto;
        width: 100%
    }
    #guia-img {
        background-color: rgba(0, 0, 0, 0.2);
        width: 100%;
        height: 250px;
        margin-bottom: 30px;
    }
    #guia-container-text{
         width: 100%;
        padding: 0;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-items: center;
        overflow: hidden;
        height: auto;
        text-align: left;
        
    }
    #guia-container-text>h2 {
        font-size: 24px;
        text-align: center;
        
    }
    
    #guia-container-empth {
        padding-top: 0px;
        padding-right: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        
       
    }
    #guia-empth-title{
        width: 100%;
        padding: 0%;
        font-size: 24px;
    }
    #guia-empth-text {
        padding: 0;
        width: 100%;
        font-size: 21px;
    }
  
    .guia-text {
    padding: 20px 50px; 
    font-size: 14px; 
  }
}

/*medium devices - Tablets*/
@media (max-width: 767.98px) {

}

/*Large devices - Desktop*/
@media (max-width: 1365.98px) {

}
