.hero-container{
    width: 100%;
    height: 675px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('@imgs/Hero-desktop.png');
    display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;

}

#hero-title {
    width: 930px;
  color: white;

}

#hero-subtitle {
    width: 840px;
    font-weight: 400;   
    color: white;
}

.hero-CTA-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 260px;
    background-color: var(--yellow-bg);
}

#hero-CTA-subtitle {
    margin-bottom: 30px;
}

#hero-CTA-button {
    width: 300px;
    height: 60px;
    background:var(--action-green);
    border-radius: 15px;
    color: white;
    padding: 20px 40px;
    
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#hero-CTA-text{
    margin-top: 0px;
    margin-bottom: 30px;
}


.animate_slide_in {
    animation-name: slide-in;
    animation-duration: 1s;
}


@media (max-width: 575.98px) {
    
    .hero-container{
        width: 100%;
        height: 400px;
        
     
    }
    
    #hero-title {
        width: 320px;
    }
    
    #hero-subtitle {
        width: 320px;
        font-weight: 400;
    }
    
    .hero-CTA-container {
    
        
        height: 348px;
    }
    
    #hero-CTA-subtitle {
        width: 320px;
        margin-bottom: 10px;
    }
    #hero-CTA-text {
        margin-bottom: 60px;
        padding: 20px;
    }
    #hero-CTA-button {
        width: 170px;
        height: 50px;
        background: #000000;
        border-radius: 49px;
    }

}

/*medium devices - Tablets*/
@media (max-width: 767.98px) {

}

/*Large devices - Desktop*/
@media (max-width: 1365.98px) {

}
@keyframes slide-in {
    0% {
        transform: translateY(160px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}