@import 'Vars';

#navbar-container {
    height: 89px;
    width: 90%;
    padding: 15px 100px 22px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
}
#navbar-logo-mobile {
    display: none;
}
#navbar-logo{
    width: 200px;
    height: 100%;
    
}

#navbar-cta {
    width: 250px;
    height: 50%;
    
    background-color: var(--action-green);
    border-radius: 49px;    
    color: white;
    
}
/*Small devices - Phones*/
@media (max-width: 575.98px) {
    #navbar-container {
        height: 60px;
        padding: 15px 20px 22px 20px;
   
    }
    #navbar-logo{
        display: none;
        
    }
    #navbar-logo-mobile {
        display: block;
        height: 80%
    }

    #navbar-cta {
        width: 150px;
        height: 60%;
        border-radius: 20px; 
        
    }
}

/*medium devices - Tablets*/
@media (max-width: 767.98px) {

}

/*Large devices - Desktop*/
@media (max-width: 1365.98px) {

}
