.problematicas-container{
    height: 100vh;
    /*background-image: url(./images/problematica-img.png);   */
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url('@imgs/Problematicas-fullimg-desktop.jpg');
    
}

#problematicas-item-container {
    display: flex;
    justify-content: right;
    padding-right: 100px;
}

#problematicas-title {
    margin-bottom: 310px;
    margin-top: 0px;
    padding-top: 140px;
    padding-left: 130px;
    color: white;
    
}
.problematicas-items {
    width: 330px;
    text-align: center;
    color: white;
    
}

.problematicas-items-title {
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 5px;
}
.problematicas-items-text {
    font-size: 32px;
    font-weight: 400;
    margin-top: 5px;
}

.problematicas-second-container-desktop {
    height: 950px;
    /*border-radius: 102px 102px 0px 0px;*/
    background-color: var(--yellow-bg);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
    

}


.problematicas-second-img{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}   
.problematicas-second-img>p {
    text-align: center;
    padding: 10px 150px; 
}


#problematicas-second-img2 {
    margin: 50px;
    margin-bottom: 0px;
    background-image: url('@imgs/problematicas-imeg2-desktop.png');
    height: 80%;
    
}

#problematicas-second-text {
    font-size: 36px;
}
.problematicas-second-container-mobile {
    display: none;
}

/*Small devices - Phones*/
@media (max-width: 575.98px) {
    .problematicas-container{
        height: 900px;
        background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url('@imgs/Problematicas-fullimg-mobile.jpg');
        background-size: cover;
    }
    #problematicas-item-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 44px;
        height: 80vh;

    }
    
    #problematicas-title {
        margin-bottom: 50px;
        margin-top: 0px;
        padding-top: 40px;
        padding-left: 24px;
    }
    .problematicas-items {
        width: 150px;
        text-align: center;
        padding-bottom: 80px;
        
    }
    
    .problematicas-items-title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 5px;
    }
    .problematicas-items-text {
        font-size: 21px;
        font-weight: bold;
        margin-top: 5px;
    }
    /* Estilos de problematicas 2*/

    .problematicas-second-container-desktop {
        display: none;
    }
    .problematicas-second-container-mobile {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0px;
        margin: 0px;
        background-color: var(--yellow-bg);
        height: 800px;
    }

    #problematicas-second-img3 {
        height: 250px;
        background-image: url('@imgs/problematicas-imeg2-desktop.png');
        margin: 40px 0px 75px 0px;
        background-size: cover;
    }
    
    #problematicas-second-text {
        font-size: 14px;
        padding: 0px 50px;
        text-align: left;
    }


    .problematicas-second-container>p {
        text-align: center;
        margin: 0px 0px 75px 0px;
        padding: 0px 50px;
        text-align: left;
    }
   
}

/*medium devices - Tablets*/
@media (max-width: 767.98px) {

}

/*Large devices - Desktop*/
@media (max-width: 1400px    ) {
    .problematicas-container{
        height: 1000px;
    }
}
