
.product-container-full{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
#producto-text-img-container{
    display: flex;
    height: 700px;
    width: 100%;
    margin-bottom: 50px;
    justify-content: center;
}

.producto-text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 330px;
    padding-right: 20px;
    text-align: center;
    
}
#producto-text-container1{
   padding-left: 100px;
}
#producto-text-container2{
    padding-left: 20px;
}
#producto-img {
    width: 500px;
    background-image: url('@imgs/productos-img-desktop.png');
    background-size: cover;

}

.product-container-full > h1 {
    padding-left: 100px;
}

#producto-CTA-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

#producto-CTA-container >button {
    width: 261px;
    height: 46px;
    background: var(--action-green);
    border-radius: 38px;
    color: white;
}

.mobile{
    display: none !important;
}
/*Small devices - Phones*/
@media (max-width: 575.98px) {

    .product-container-full {
        margin-bottom: 100px;
        height: auto;
    }

    .product-container-full >h1{
        text-align: center;
    }

    #producto-text-img-container{
        display: flex;
        height: auto;
        width: 100%;
        margin-bottom: 60px;
        justify-content: space-between;
    }
    
    .producto-text-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 10%;
        padding-right: 0px;
        text-align: center;
    
    }
    #producto-text-container1{
       padding-left: 0px;
       
    }
    #producto-text-container2{
        padding-left: 0px;
    }
    #producto-img {
        width: 40%;
        background-color: rgba(0, 0, 0, 0.2);
    
    }
    
    .product-container-full > h1 {
        padding-left: 0px;
    }
    
    #producto-CTA-container {
        
        margin-bottom: 0px;
    }
    
    #producto-CTA-container >button {
        width: 261px;
        height: 46px;
        background: var(--action-green);
        border-radius: 38px;
        color: white;
    }

    .desktop {
        display: none !important;
    }
    .mobile {
        display: flex !important;
    }
    .mobile-text-container {
               
        margin: 0px;
        width: 50%;
        
    }
    .productos-p {
        font-size: 14px;
        text-align: left;
        width: 140px;
    }
}

/*medium devices - Tablets*/
@media (max-width: 767.98px) {

}

/*Large devices - Desktop*/
@media (max-width: 1365.98px) {

}