.que-es-container {
    
    
    
    height: 100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('@imgs/QueEs-img-desktop.jpg');
    display: flex;
    flex-direction: column;
}
#que-es-text1{
    height: 50%;
    display: flex;
    align-items: center;
    width: 50%;
    text-align: center;
    color: white;
}
#que-es-text2{
    align-self: flex-end;
    height: 50%;
    display: flex;
    align-items: center;
    width: 50%;
    text-align: center;
    
    color: white;   

}

.que-es-text-p {
    padding: 0px 180px 0px 180px;
    font-size: 32px;
    font-weight: bold;
}
@media (max-width: 575.98px) {
    .que-es-container {
    
        margin:0px;
        height: 100vh;
        padding-left: 0px;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('@imgs/QueEs-img-mobile.jpg');

        
    }
    #que-es-text1{
        width: 80%;
        padding: 0px;
        text-align: left;
    }
    #que-es-text2{
        align-self: flex-start;
        width: 80%;
        padding: 0px ;
        text-align: left;
    }

    .que-es-text-p {
        padding: 0px 40px;
        font-size: 21px;
    }
}

/*medium devices - Tablets*/
@media (max-width: 767.98px) {

}

/*Large devices - Desktop*/
@media (max-width:1365.98px) {

}

