.que-es-container {
    
    margin: 10vh 100px 10vh 100px;
    
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}
#que-es-text1{
    height: 50%;
    display: flex;
    align-items: center;
    width: 50%;
    text-align: center;
    padding: 0px 80px 0px 80px;

}
#que-es-text2{
    align-self: flex-end;
    height: 50%;
    display: flex;
    align-items: center;
    width: 50%;
    text-align: center;
    padding: 0px 80px 0px 80px;


}
@media (max-width: 575.98px) {
    .que-es-container {
    
        margin:0px;
        height: 100vh;
        padding-left: 40px;
        
    }
    #que-es-text1{
        width: 80%;
        padding: 0px;
        text-align: left;
    }
    #que-es-text2{
        align-self: flex-start;
        width: 80%;
        padding: 0px ;
        text-align: left;
    }

}

/*medium devices - Tablets*/
@media (max-width: 767.98px) {

}

/*Large devices - Desktop*/
@media (max-width:1365.98px) {

}

