.vegetales-container-full{
    display: flex;
    flex-direction: column;
}
.vegetales-container-full >h1 {
    margin: 0px 100px 50px 100px;
    text-align: center;
}
.vegetales-img-text-container{

    display: flex;
    justify-content: center;
    margin: 0px 100px 0px 100px;
    height: 260px;
    
}

.vegetales-img {
    width: 50%;
    background-color: rgba(0, 0, 0, 0.2);
}
.vegetales-text{
    width: 50%;
    text-align: center;
    align-self: center;
    
}